In [1]:
import torch
torch.cuda.is_available()

True

In [1]:

import scanpy as sc
from get_embedding import main_gene_selection

No traceback available to show.
usage: ipykernel_launcher.py [-h] [--task_name TASK_NAME]
                             [--input_type {singlecell,bulk}]
                             [--output_type {cell,gene,gene_batch,gene_expression}]
                             [--pool_type {all,max}] [--tgthighres TGTHIGHRES]
                             [--data_path DATA_PATH] [--save_path SAVE_PATH]
                             [--pre_normalized {F,T,A}] [--demo]
                             [--version VERSION] [--model_path MODEL_PATH]
                             [--ckpt_name CKPT_NAME]
ipykernel_launcher.py: error: unrecognized arguments: --f=/home/bench-user/.local/share/jupyter/runtime/kernel-v2-8115DIrFLrU3uxoL.json

SystemExit: 2

/home/bench-user/.apps/conda/envs/scFoundation/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3558: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [2]:
adata = sc.read_h5ad("/home/bench-user/Preprocessed_Data/clono_filtered_counts_adata.h5ad")
adata.var

,gene_name,highly_variable,highly_variable_rank,means,variances,variances_norm
1,FAM87B,True,4106.0,0.000040,0.000040,1.000080
2,LINC00115,False,NaN,0.014841,0.015658,0.859693
3,FAM41C,False,NaN,0.000439,0.000439,0.929125
4,SAMD11,False,NaN,0.000239,0.000239,0.953518
5,NOC2L,True,2040.0,0.531038,1.174560,1.145456
...,...,...,...,...,...,...
15350,FAM224B,False,NaN,0.001715,0.001792,0.901687
15351,TTTY14,False,NaN,0.004548,0.005166,0.944615
15352,KDM5D,False,NaN,0.076358,0.090718,0.967450
15353,TTTY10,False,NaN,0.005944,0.006149,0.855248
15354,EIF1AY,True,740.0,0.778265,2.793601,1.531370

In [4]:
adata.X

<25066x15093 sparse matrix of type '<class 'numpy.float32'>'
	with 58912865 stored elements in Compressed Sparse Row format>

In [3]:
gene_list = list(adata.var['gene_name'])

In [ ]:

X_df, to_fill_columns, var = main_gene_selection(adata.X, gene_list)